body { max-width: none; }
#graphs { text-align: center; }
#graphs > canvas { display: inline-block; }
canvas:active { cursor: grabbing; }
button { cursor: pointer; }
#status.ok  { color: lime; }
#status.err { color: red; }
